body {
    max-width: 1100px;
    width: 100%;
    background: rgb(40, 81, 142);
    color: silver;
    margin: auto;
}

.alert-success {
    background-color: #2aa46b;
    color: #FFF;
    font-style: italic !important;
}

.alert-danger {
    background-color: #dc3545;
    color: #FFF;
    font-style: italic !important;
}