body {
    max-width: 1200px;
    width: 100%;
    background-image: url("../images/back-background.jpg");
    margin: auto;
}

.alert-success {
    background-color: #2aa46b;
    color: #FFF;
    font-style: italic !important;
}

.alert-danger {
    background-color: #dc3545;
    color: #FFF;
    font-style: italic !important;
}

main {
    /* Pour fixer le footer si le main n'est pas assez grand */
    min-height: 82vh;
}

header,
main>div {
    background: #EEE;
}

.pointer {
    cursor: pointer;
}