body {
    max-width: 1100px;
    width: 100%;
    background: rgb(95, 0, 0);
    color: white;
    margin: auto;
}

.alert-success {
    background-color: #2aa46b;
    color: #FFF;
    font-style: italic !important;
}

.alert-danger {
    background-color: #dc3545;
    color: #FFF;
    font-style: italic !important;
}

main {
    /* Pour fixer le footer si le main n'est pas assez grand */
    min-height: 83vh;
}